<h2>Register</h2>
<select #registerRole (change)="registeredRole(registerRole.value)">
    <option default>Select a role</option>
    <option>Doctor</option>
    <option>Patient</option>
</select>
<input type="text" placeholder="Name" #registerName (keyup)="registeredName(registerName.value)"/>
<input type="text" placeholder="username" #registerUsername (keyup)="registeredUsername(registerUsername.value)"/>
<input type="text" placeholder="password" #registerPassword (keyup)="registeredPassword(registerPassword.value)"/>
<button (click)="onRegister()">Register</button>

<p>{{ resultMessage }}</p>
<br><br>

<h2>Log In</h2>
<select #liRole (change)="setRole(liRole.value)">
    <option default>Select a role</option>
    <option>Doctor</option>
    <option>Patient</option>
</select>
<input type="text" placeholder="username" #liUsername (keyup)="setUsername(liUsername.value)"/>
<input type="text" placeholder="password" #liPassword (keyup)="setPassword(liPassword.value)"/>
<button (click)="onLogIn()">Log In</button>