<div class="card" *ngIf="isDoctor">
    <p>Doctor: {{ablock.doctor}}</p>
    <p>Patient: {{ablock.patient}}</p>
    <p>Start Time: {{ablock.start}}</p>
    <p>End Time: {{ablock.end}}</p>
    <p *ngIf="ablock.confirmed">Confirmed</p>
    <p *ngIf="ablock.confirmed === false">unconfirmed</p>
    <button (click)="deleteAppt()">Cancel</button>
    <button *ngIf="ablock.confirmed === false" (click)="confirmAppt()">Confirm</button>
</div>

<div class="card" *ngIf="isDoctor === false">
    <p>Doctor: {{ablock.doctor}}</p>
    <p>Patient: {{ablock.patient}}</p>
    <p>Start Time: {{ablock.start}}</p>
    <p>End Time: {{ablock.end}}</p>
    <p *ngIf="ablock.confirmed">Confirmed</p>
    <p *ngIf="ablock.confirmed === false">unconfirmed</p>
    <button (click)="deleteAppt()">Cancel</button>
</div>