<button (click)="logout()">Log Out</button>
<p>Hello Doctor {{doctor.name}}</p>


<div>
    <h3>My Availability</h3>
    <app-avail-chunk *ngFor="let chunk of availability"
    [achunk]="chunk"></app-avail-chunk>

    <h5>Add New Availability</h5>
    <input placeholder="start" type="datetime-local" #start (change)="newStart(start.value)"/>
    <input placeholder="end" type="datetime-local" #end (change)="newEnd(end.value)"/>
    <button (click)="addChunk()">Add</button>
    
</div>



<div>
    <h3>My Appointments</h3>
    <app-appt-block *ngFor="let block of appointments"
    [ablock]="block"></app-appt-block>
</div>